<h1>
  Welcome to Blog App
  <% if current_user %>
    , <%= current_user.first_name %>
  <% end %>
  !
</h1>

<p>You're logged in. Start creating posts soon...</p>

<%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>